{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vérification de votre commande</h1>

    <table>
        <thead>
            <tr>
                <th>Produit</th>
                <th>Prix</th>
                <th>Taille</th>
                <th>Quantité</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }} €</td>
                    <td>{{ item.size }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.price * item.quantity }} €</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Total de la commande : {{ total }} €</h3>

    <form action="{{ path('create_checkout_session') }}" method="POST">
        <button type="submit">Passer à la paiement</button>
    </form>
{% endblock %}
