{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        {# Redirection JavaScript si l'utilisateur est admin #}
        <script>
            window.location.href = "{{ path('admin_sweatshirt_create') }}";
        </script>
    {% else %}
        <!-- Section des produits mis en avant -->
        <section class="featured-section">
            <h2>Nos sweat-shirts mis en avant</h2>
            <div class="featured-products">
                {% for product in featuredSweatshirts %}
                    <div class="product-card">
                        <h3>{{ product.name }}</h3>
                        {% if product.imagePath %}
                            <img src="{{ product.imagePath }}" alt="{{ product.name }}" class="product-image">
                        {% else %}
                            <p>Aucune image disponible</p>
                        {% endif %}
                        <p>Prix : {{ product.price }} €</p>
                        <a href="{{ path('app_product_detail', { id: product.id }) }}" class="btn">Voir</a>
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}
{% endblock %}
