{% extends 'base.html.twig' %}

{% block title %}Modifier un Sweatshirt{% endblock %}

{% block body %}
    <h1>Modifier un Sweatshirt</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.price) }}
        {{ form_row(form.size) }}
        {{ form_row(form.stock) }}
        {{ form_row(form.featured) }}
        {{ form_row(form.image) }}
        <button type="submit">Mettre à jour</button>
    {{ form_end(form) }}
{% endblock %}
